name: Build and Test

on:
  push:
    branches:
      - "feature/**"
      - "bugfix/**"
      - "hotfix/**"

permissions: {}

jobs:
  build-and-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
          working-directory: src

      - name: Install dependencies
        run: |
          bundle config set path 'vendor/bundle'
          bundle install --jobs 4 --retry 3
        working-directory: src

      - name: Build static site
        run: bundle exec jekyll build --destination _site --trace
        working-directory: src

      - name: Upload site artifact
        uses: actions/upload-artifact@v4
        with:
          name: static-site
          path: src/_site
